.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.imageAndText {

}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}