.message {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.imageAndText img {
    align-self: end;
    width: 48px;
}

.text {
    background-color: #0066CC;
    border-radius: 10px 10px 0 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 14px;
    position: relative;
}

.text:after {
    background: radial-gradient(67px at top right,transparent 50%,#0066CC 51%) 100% 100%;
    bottom: 0;
    content: '';
    display: block;
    height: 30px;
    left: 100%;
    position: absolute;
    width: 30px;
}

.name {
    align-self: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    color: #000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin: 5px 12px 0 0;
}