.sidebar {
    display: flex;
    flex-direction: column;
    z-index: 2;
    left: -100%;
    position: fixed;
    transition: 850ms;
    background: #FFFFFF;
    visibility: hidden;
}

.sidebar.open {
    left: 0;
    position: fixed;
    visibility: visible;
}

.background {
    position: fixed;
    z-index: 1;
    width: 1000vw;
    height: 100vh;
    background: #000000;
    opacity: 0.3;
}

.nav {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav a {
    margin: 20px;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration-line: none;
}

.nav a:hover {
    color: #58ACFF;
}
.nav a:active {
    color: rgba(61, 107, 153, 1);
}

.nav a.active {
    color: rgba(0, 89, 178, 1);
    text-decoration: underline;

}

.close {
    align-self: flex-end;
    width: 15%;
    height: 60px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

.close img {

}