.input:focus {

}

.input {
    grid-area: down;
}

.inputWrapper {
    display: grid;
    grid-template-areas:
        'up'
        'down'
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    border: 1px solid #CC1439;
}

.error {
    color: #CC1439;
    grid-area: up;
}
