.friendMessage {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.friendImageAndText {
    display: flex;
    gap: 12px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.friendText {
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 5px 20px rgb(29 33 38 / 3%), 0 1px 2px rgb(29 33 38 / 10%);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 15px;
    position: relative;
}

.friendText:after {
    background: radial-gradient(67px at top left,transparent 50%,#F5F7FB 51%) 100% 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 100%;
    width: 30px;
}

.friendName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.friendMessageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin: -15px 0 0 12px;
}
